# Replace this with whatever you want (But do NOT delete it)
{% from "swall45/map.jinja" import swall45 with context -%}

{# Next we iterate over param_custom_lines #}
{%- for cline in swall45.param_custom_lines %}
{{ cline }}
{%- endfor %}
# Leave this as the last line