# For information about entries in this file, type "man shorewall-zones"
{% from "swall45/map.jinja" import swall45 with context -%}
###############################################################################
#ZONE	TYPE	OPTIONS			IN			OUT
#					OPTIONS			OPTIONS
fw	firewall
net	ipv4
{# Next we iterate over zone_extra_lines #}
{%- for eline in swall45.zone_extra_lines %}
{{ eline }}
{%- endfor %}
#LAST LINE - ADD YOUR ENTRIES ABOVE THIS ONE - DO NOT REMOVE
