# -*- coding: utf-8 -*-
# vim: ft=yaml

{## Start with defaults from defaults.yaml file in this directory ##}
{% import_yaml 'swall46/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os'] based logic.
Only add key values pairs which differ from that in defaults.yaml
##}
{% set os_map = salt['grains.filter_by']({
    'Debian': {
    },
  }
  , grain="os"
  , merge=salt['pillar.get']('swall46'))
%}
{## Merge the os_map to the default settings ##}
{% do default_settings.swall46.update(os_map) %}

{## Pillar for swall46 is now merged with what have so far ##}
{% set swall46 = salt['pillar.get'](
        'swall46',
        default=default_settings.swall46,
        merge=True
    )
%}

