# -*- coding: utf-8 -*-
# vim: ft=yaml

{## Start with defaults from defaults.yaml file in this directory ##}
{% import_yaml 'swall45/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os'] based logic.
Only add key values pairs which differ from that in defaults.yaml
##}
{% set os_map = salt['grains.filter_by']({
    'Debian': {
    },
  }
  , grain="os"
  , merge=salt['pillar.get']('swall45'))
%}
{## Merge the os_map to the default settings ##}
{% do default_settings.swall45.update(os_map) %}

{## Pillar for swall45 is now merged with what have so far ##}
{% set swall45 = salt['pillar.get'](
        'swall45',
        default=default_settings.swall45,
        merge=True
    )
%}

