# For information about entries in this file, type "man shorewall-interfaces"
{% from "swall46/map.jinja" import swall46 with context -%}
###############################################################################
#ZONE	INTERFACE	BROADCAST	OPTIONS
{%- if swall46.interfaces is defined and swall46.interfaces.interface_detect is defined and swall46.interfaces.interface_detect_options is defined %}
net     {{ swall46.interfaces.interface_detect }}            detect          {{ swall46.interfaces.interface_detect_options }}
{%- else %}
net     eth0            detect          dhcp,tcpflags,logmartians,nosmurfs
{%- endif %}
{# Next we iterate over face_extra_lines #}
{%- for eline in swall46.interfaces.face_extra_lines %}
{{ eline }}
{%- endfor %}
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
