# **IMPORTANT** Lists with commas must NOT have spaces!
{% from "swall46/map.jinja" import swall46 with context -%}

# Trusted Locations:
{%- if swall46.shared is defined and swall46.shared.trusted_ips is defined %}
TRUSTED_IPS={{ swall46.shared.trusted_ips }}
{%- else %}
TRUSTED_IPS=192.168.0.2
{%- endif %}

# Monitoring provided by Third Party: 
{%- if swall46.shared is defined and swall46.shared.monthird_ips1 is defined %}
MONTHIRD_IPS1={{ swall46.shared.monthird_ips1 }}
{%- else %}
MONTHIRD_IPS1=8.8.8.8
{%- endif %}
{%- if swall46.shared is defined and swall46.shared.monthird_ips2 is defined %}
MONTHIRD_IPS2={{ swall46.shared.monthird_ips2 }}
{%- else %}
MONTHIRD_IPS2=8.8.8.8
{%- endif %}
{%- if swall46.shared is defined and swall46.shared.monthird_ips3 is defined %}
MONTHIRD_IPS3={{ swall46.shared.monthird_ips3 }}
{%- else %}
MONTHIRD_IPS3=8.8.8.8
{%- endif %}
{%- if swall46.shared is defined and swall46.shared.monthird_ips4 is defined %}
MONTHIRD_IPS4={{ swall46.shared.monthird_ips4 }}
{%- else %}
MONTHIRD_IPS4=8.8.8.8
{%- endif %}
{%- if swall46.shared is defined and swall46.shared.monthird_ips5 is defined %}
MONTHIRD_IPS5={{ swall46.shared.monthird_ips5 }}
{%- else %}
MONTHIRD_IPS5=8.8.8.8
{%- endif %}

# Monitoring nrpe
{%- if swall46.shared is defined and swall46.shared.monnrpe_ips is defined %}
MONNRPE_IPS={{ swall46.shared.monnrpe_ips }}
{%- else %}
MONNRPE_IPS=8.8.8.8
{%- endif %}

# Monitoring own
{%- if swall46.shared is defined and swall46.shared.monfirst_ips is defined %}
MONFIRST_IPS={{ swall46.shared.monfirst_ips }}
{%- else %}
MONFIRST_IPS=15.185.1.1
{%- endif %}

# Load in any custom params this site may need
INCLUDE params.custom
# Last line, do not remove
