# For information about entries in this file, type "man shorewall-policy"
{% from "swall46/map.jinja" import swall46 with context -%}
###############################################################################
#SOURCE		DEST		POLICY		LOG LEVEL	LIMIT:BURST
{# Next we iterate over source_dest_policy_level_limit_lines #}
{%- for pline in swall46.source_dest_policy_level_limit_lines %}
{{ pline }}
{%- endfor %}
# The FOLLOWING POLICY MUST BE LAST
all		all		REJECT		info
#LAST LINE -- ADD YOUR ENTRIES ABOVE THIS LINE -- DO NOT REMOVE
