# Replace this with whatever you want (But do NOT delete it)
{% from "swall46/map.jinja" import swall46 with context -%}

{# Next we iterate over shared_lines #}
{%- for sline in swall46.shared_lines %}
{{ sline }}
{%- endfor %}

# Load in custom rules for this site
INCLUDE rules.custom
# Keep this line at the bottom